<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Gerar Imagem Base64</title>
    <div class="box1">
    <a> <img src="https://images2.imgbox.com/0c/9b/8QwLOxBz_o.png" alt="image host"/></a>
    </div>
</head>

<body>
    <font face="verdana" color="#00BFFF">
   <h1><center>Gerar PDF da imagem enviada!</center></h1>
    </font>

    <!-- Criar o campo para usuario selecionar a imagem -->
    <center><input type="file" id="imagem-usuario" onchange="converterImagem();" /></center>

    <!-- Receber e apresentar a imagem para o usuario apos converte para Base64 -->
    <center><div id="apresentar-imagem"></div></center>

    <!-- Incluir a biblioteca para gerar PDF-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"
        integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/"
        crossorigin="anonymous"></script>

    <script>
        // Funcao converter imagem para base64
        function converterImagem() {

            // Receber o arquivo do formulario
            var receberArquivo = document.getElementById("imagem-usuario").files;
            //console.log(receberArquivo);

            // Verificar se existe o arquivo
            if (receberArquivo.length > 0) {

                // Carregar a imagem
                var carregarImagem = receberArquivo[0];
                //console.log(carregarImagem);

                // FileReader - permite ler o conteudo do arquivo do computador do usuario
                var lerArquivo = new FileReader();

                // O evento onload ocorre quando um objeto he carregado
                lerArquivo.onload = function (arquivoCarregado) {
                    // Converter a imagem para base64
                    var imagemBase64 = arquivoCarregado.target.result;
                    //console.log(imagemBase64);

                    //**** INICIO ENVIAR IMAGEM PARA O HTML *****/
                    // Cria o elemento HTML
                    var novaImagem = document.createElement('img');

                    // Atribuir a imagem para o atributo src
                    novaImagem.src = imagemBase64;
                    //**** FIM ENVIAR IMAGEM PARA O HTML *****/

                    // Enviar imagem para o HTML
                    document.getElementById("apresentar-imagem").innerHTML = novaImagem.outerHTML;

                    // Recuperar a imagem base64 do HTML
                    //console.log(document.getElementById("apresentar-imagem").innerHTML);

                    //**** INICIO GERAR PDF *****/
                    // Instanciar o jsPDF
                    var doc = new jsPDF();

                    // Texto que deve estar no PDF
                    doc.text('Este arquivo foi convertido em AllPdf!', 15, 15);

                    // Imagem que deve estar no PDF
                    doc.addImage(imagemBase64, 15, 25, 50, 50);

                    // Gerar PDF
                    doc.save('Output.pdf');

                    //**** FIM GERAR PDF *****/
                }

                // O metodo readAsDataURL e usado para ler o conteudo
                lerArquivo.readAsDataURL(carregarImagem);
            }
        }
    </script>

</body>

</html>